 .page-content form {
    margin-bottom: 40px;
}

   .page-content .nav-tabs-horizontal {
    position: relative;
  }
   .page-content .page-user-sortlist {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 2;
  }
  @media (max-width: 991px) {
     .page-content .page-user-sortlist {
      top: -15px;
    }
  }
  
  